// Colors
$base-white: #fff;
$base-gray-medium: #bbbcbc;
$base-gray-lighter: #dddddd;
$base-gray-lightest: #fbfbfb;
$base-black: #000;
$base-black-lighter: #5d5d5d;
$base-black-lightest: #bababa;
$primary-blue: #316eef;
$primary-blue-lighter: #1f58d2;
$primary-blue-darkest: #1b3979;
$primary-warning: #d83e00;

// Font family
$base-font: "Roboto", sans-serif;
$secondary-font: "Times New Roman", Times, serif;

// Font sise
$base-font-size: 16px;

// Border radius
$primary-border-radius: 8px;
